@import './styles/colors';
@import './styles/direction.leftright';
@import './styles/direction.topbottom';

$fontSize: 11px;
$fontSizeIcon: 16px;
$tabPadding: 7px;
$borderWidth: 1px;

@mixin iconBase($size: 0.8em) {
	width: $size;
	height: $size;
	box-sizing: content-box;
	text-align: center;
	vertical-align: middle;
	padding: $size * 0.1;
	> svg {
		vertical-align: text-top;
		width: $size;
		height: $size;
	}
}

tab-container {
	max-height: 100%;
	max-width: 100%;
	display: flex;

	&[direction='bottom'] {
		@include dirTopBottom();
		@include dirBottom();
	}
	&[direction='top'] {
		@include dirTopBottom();
		@include dirTop();
	}
	&[direction='left'] {
		@include dirLeftRight();
		@include dirLeft();
	}
	&[direction='right'] {
		@include dirLeftRight();
		@include dirRight();
	}

	.hide {
		display: none !important;
	}

	svg {
		fill: var(--handle-color);
	}

	> tab-header {
		user-select: none;
		display: flex;
		flex-direction: row;

		background-color: var(--background);
		color: var(--foreground);

		> .tabs {
			white-space: nowrap;
			overflow: hidden;
			position: relative;
			> tab-switch {
				font-size: $fontSize;
				line-height: $fontSizeIcon;

				display: inline-flex;
				flex-direction: column;
				justify-content: center;
				cursor: pointer;
				text-align: left;

				&[active] {
					cursor: default;
					background-color: var(--background-active);
					color: var(--foreground-active);
				}
				&:not([active]):hover {
					background-color: var(--background-hover);
					color: var(--foreground-hover);
				}
				&.click-down {
					background-color: var(--background-click) !important;
					color: var(--foreground-click) !important;
				}
				&.drag {
					border-color: transparent !important;
					background-color: var(--background) !important;
					color: var(--foreground) !important;
				}

				> .vparent {
					display: flex;
					overflow: visible;
					white-space: nowrap;
					> .icon {
						@include iconBase($fontSizeIcon);
					}

					> .close {
						flex-direction: row;
						font-size: $fontSizeIcon;
						@include iconBase();

						&:hover {
							> .normal {
								display: none;
							}
						}
						&:not(:hover) {
							> .hover {
								display: none;
							}
						}
					}
				}
			}
		}

		> .spacer {
			display: inline-block;
			flex: 1;
		}

		> tab-menu {
			display: flex;
			flex-direction: column;
			justify-content: center;

			> .vparent {
				display: flex;
				flex-direction: row;
				white-space: nowrap;

				> button {
					margin-left: 2px;
					font-size: $fontSize + 7;
					background: transparent;
					border: transparent $borderWidth solid;
					outline: transparent;

					color: var(--button-color);

					&:hover {
						border: var(--button-color-border) $borderWidth solid;
					}

					cursor: pointer;
					@include iconBase();
				}
			}
		}
	}

	> tab-body {
		background-color: var(--background-active);
		> tab-view {
			display: none;

			&[open] {
				display: block;
			}
		}
	}
}
